@media only screen and (max-width: 600px) {
    .navbar-nav{
     font-size: 18px;
    }
 
     .navbar-brand{
         font-size: 36px; 
     }

     section{
        text-align: center;
     }
 
     .carrinho{
         color: rgb(98, 98, 98);
         font-size: 30px;
     }
     .text-desc
     {
        text-align: center;
        margin: auto;
        width: 100%;
     }
 
     .divPrincipal{
         margin-top: 10%;
         background-color: white;
         color: rgb(0, 0, 0);
         border: 1px #000000 solid;
         margin: 10px;
         border-radius: 10px;
     }
 
     .divPrincipal img{
         margin-top: 5%;
     }
     .livros{
         border: 1px solid #cccccc;
         box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
         border-radius: 14px;
         padding: 20px;
         text-align: center;
         display:flex;
         justify-content:space-between;
         float: left;
         margin: auto;
 
     }
     .desc{
        text-align: center;
        margin-top: 0%;
        font-size: 16px;
        
     }
     .btn-compra{
        margin: 10px;
     }
 
     footer{
         display: end;
         flex-direction: end;
         text-align: center;
         background-color: #1A1A1A;
         margin-top: auto;
     }
 
     .footer-titulo{
         font-family: Tan-Pearl;
         color: white;
         margin-top: 20px;
     }
 
     .footer-item{
         color: #9B9B9B;
         text-decoration: underline;
         font-size: 14px;
         margin-right: 5px;
     }
 
     .footer-p{
         color: #9B9B9B;
         font-size: 14px;
         margin-top: 10px;
     }
     .mangas{
        width: 120px ;
        margin: auto;
        color: #000000;
        text-justify: auto;
 
 
     }
     .livros a{
         color: #000000;
     }
     .livros a:hover {
         color: #004b88;
     }
     .comprar{
         width: 60%;
         margin-top: 10px;

     }
     .produto{
         font-size: 32px;
         color: rgb(0, 0, 0);
         margin-top: 9px;
         margin-left: 9px;
     }
     .glow-on-hover {
         width: 220px;
         height: 50px;
         border: none;
         outline: none;
         color: #fff;
         background: #111;
         cursor: pointer;
         position: relative;
         z-index: 0;
         border-radius: 10px;
         margin-top: auto;
         left: auto;
         right: auto;
     }
     
     .glow-on-hover:before {
         content: '';
         background: linear-gradient(45deg, #ffffff, #000000, #ffffff, #000000, #ffffff, #000000, #ffffff, #000000, #ffffff);
         position: absolute;
         top: -2px;
         left:-2px;
         background-size: 400%;
         z-index: -1;
         filter: blur(5px);
         width: calc(100% + 4px);
         height: calc(100% + 4px);
         animation: glowing 20s linear infinite;
         opacity: 0;
         transition: opacity .3s ease-in-out;
         border-radius: 10px;
     }
     
     .glow-on-hover:active {
         color: #000
     }
     
     .glow-on-hover:active:after {
         background: transparent;
         color: #ffffff;
     }
     
     .glow-on-hover:hover:before {
         opacity: 1;
     }
     
     .glow-on-hover:after {
         z-index: -1;
         content: '';
         position: absolute;
         width: 100%;
         height: 100%;
         background: #181717;
         left: 0;
         top: 0;
         border-radius: 10px;
     }
     
     @keyframes glowing {
         0% { background-position: 0 0; }
         50% { background-position: 400% 0; }
         100% { background-position: 0 0; }
     }
 
    
 }
 
 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {...}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {...}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {...}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {...}
 
 
 
 @font-face {
     font-family: Tan-Pearl;
     src: url(Fontes/tan-pearl.otf);
 }
 
 html, body{
     height: 100%;
     margin: 0;
 }
 
 body{
     display: flex;
     flex-direction: column;
 }
 
 .content{
     flex: 1;
 }
 
 .navbar{
     background-color: rgb(17, 17, 17) !important;
 }
 
 .navbar-brand{
     font-family: Tan-Pearl;
     letter-spacing: 1px;
 }
 
 .btn-outline-success{
     color: white;
     border-color: white;
     --bs-btn-active-bg: white;
     --bs-btn-color: white;
     --bs-btn-border-color: black;
     --bs-btn-hover-bg: white;
     --bs-btn-hover-border-color: black;
     --bs-btn-active-border-color: black;
     --bs-btn-active-color: black;
 
 }
 
 .btn-outline-success:hover{
     color: black;
     background-color: white;
     border-color: black;
 }
 
 .btn-outline-success:active{
     background-color: black;
     color: black;
 }
 
 .btnComprarCard{
     border: none;
     color: white !important;
     background-color: #28a745;
     border-radius: 5px;
     /* padding: 5px 10px 5px 10px; */
 }
 
 .classComprarCard{
     color: white !important;
 }
 
 a{
     text-decoration: none;
 }