@media only screen and (max-width: 600px) {
  .navbar-nav {
    font-size: 18px;
  }

  .navbar-brand {
    font-size: 36px;
  }

  section {
    text-align: center;
  }

  .img-comprar {
    width: 60%;
    border: 1px solid black;
  }

  .titulo-produto {
    font-size: 28px;
    color: rgb(0, 0, 0);
    margin-top: 15px;
  }

  .div-descricao {
    text-align: center;
    margin: auto;
    width: 100%;
  }

  .descricao {
    text-align: justify;
    font-size: 16px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .valor-produto {
    font-size: 28px;
    font-weight: bold;
  }

  .btn-compra {
    margin-bottom: 10px;
  }

  .btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: auto;
    left: auto;
    right: auto;
  }

  .glow-on-hover:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ffffff,
      #000000,
      #ffffff,
      #000000,
      #ffffff,
      #000000,
      #ffffff,
      #000000,
      #ffffff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  .glow-on-hover:active {
    color: #000;
  }

  .glow-on-hover:active:after {
    background: transparent;
    color: #ffffff;
  }

  .glow-on-hover:hover:before {
    opacity: 1;
  }

  .glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #181717;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  .navbar-nav {
    font-size: 18px;
  }

  .navbar-brand {
    font-size: 36px;
  }

  section {
    text-align: center;
  }

  .img-comprar {
    width: 30%;
    border: 1px solid black;
  }

  .titulo-produto {
    font-size: 28px;
    color: rgb(0, 0, 0);
    margin-top: 15px;
  }

  .div-descricao {
    text-align: center;
    margin: auto;
    width: 100%;
  }

  .descricao {
    text-align: justify;
    font-size: 16px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .valor-produto {
    font-size: 28px;
    font-weight: bold;
  }

  .btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn-compra {
    margin-bottom: 10px;
  }

  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: auto;
    left: auto;
    right: auto;
  }

  .glow-on-hover:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ffffff,
      #000000,
      #ffffff,
      #000000,
      #ffffff,
      #000000,
      #ffffff,
      #000000,
      #ffffff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  .glow-on-hover:active {
    color: #000;
  }

  .glow-on-hover:active:after {
    background: transparent;
    color: #ffffff;
  }

  .glow-on-hover:hover:before {
    opacity: 1;
  }

  .glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #181717;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav {
    font-size: 18px;
  }

  .navbar-brand {
    font-size: 36px;
  }

  section {
    text-align: center;
  }

  .img-comprar {
    width: 30%;
    border: 1px solid black;
  }

  .titulo-produto {
    font-size: 28px;
    color: rgb(0, 0, 0);
    margin-top: 15px;
  }

  .div-descricao {
    text-align: center;
    margin: auto;
    width: 100%;
  }

  .descricao {
    text-align: justify;
    font-size: 16px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .valor-produto{
    font-size: 28px;
    font-weight: bold;
  }

  .btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn-compra {
    margin-bottom: 10px;
  }

  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: auto;
    left: auto;
    right: auto;
  }

  .glow-on-hover:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ffffff,
      #000000,
      #ffffff,
      #000000,
      #ffffff,
      #000000,
      #ffffff,
      #000000,
      #ffffff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  .glow-on-hover:active {
    color: #000;
  }

  .glow-on-hover:active:after {
    background: transparent;
    color: #ffffff;
  }

  .glow-on-hover:hover:before {
    opacity: 1;
  }

  .glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #181717;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav {
    font-size: 18px;
  }

  .navbar-brand {
    font-size: 36px;
  }

  section {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
  }

  .div-titulo-img{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .img-comprar {
    width: 25% !important;
    border: 1px solid black;
    margin: auto;
  }

  .titulo-produto {
    font-size: 32px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    padding: 0;
  }

  .div-descricao {
    text-align: center;
    margin: auto;
    width: 100%;
    margin-top: 3%;
  }

  .descricao {
    text-align: justify;
    margin: auto;
    font-size: 16px;
    width: 80%;
    margin-bottom: 25px;
  }

  .valor-produto{
    font-size: 28px;
    font-weight: bold;
  }

  .btns {
    display: flex;
    flex-direction: column;
  }

  .btn-compra {
    margin-bottom: 10px;
  }

  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: auto;
    left: auto;
    right: auto;
  }

  .glow-on-hover:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ffffff,
      #000000,
      #ffffff,
      #000000,
      #ffffff,
      #000000,
      #ffffff,
      #000000,
      #ffffff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  .glow-on-hover:active {
    color: #000;
  }

  .glow-on-hover:active:after {
    background: transparent;
    color: #ffffff;
  }

  .glow-on-hover:hover:before {
    opacity: 1;
  }

  .glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #181717;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar-nav {
    font-size: 18px;
  }

  .navbar-brand {
    font-size: 36px;
  }

  section {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
  }

  .div-titulo-img{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 10%;
  }

  .img-comprar {
    width: 60% !important;
    border: 1px solid black;
  }

  .titulo-produto {
    font-size: 34px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
  }

  .div-descricao {
    text-align: center;
    margin: auto;
    margin-top: 4%;
    width: 100%;
  }

  .descricao {
    text-align: justify;
    margin: auto;
    font-size: 18px;
    width: 60%;
    margin-bottom: 25px;
  }

  .valor-produto{
    font-size: 28px;
    font-weight: bold;
  }

  .btns {
    display: flex;
    flex-direction: column;
  }

  .btn-compra {
    margin-bottom: 10px;
  }

  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: auto;
    left: auto;
    right: auto;
  }

  .glow-on-hover:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ffffff,
      #000000,
      #ffffff,
      #000000,
      #ffffff,
      #000000,
      #ffffff,
      #000000,
      #ffffff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  .glow-on-hover:active {
    color: #000;
  }

  .glow-on-hover:active:after {
    background: transparent;
    color: #ffffff;
  }

  .glow-on-hover:hover:before {
    opacity: 1;
  }

  .glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #181717;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}

@font-face {
  font-family: Tan-Pearl;
  src: url(Fontes/tan-pearl.otf);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.navbar {
  background-color: rgb(17, 17, 17) !important;
}

.navbar-brand {
  font-family: Tan-Pearl;
  letter-spacing: 1px;
}

.btn-outline-success {
  color: white;
  border-color: white;
  --bs-btn-active-bg: white;
  --bs-btn-color: white;
  --bs-btn-border-color: black;
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: black;
  --bs-btn-active-border-color: black;
  --bs-btn-active-color: black;
}

.btn-outline-success:hover {
  color: black;
  background-color: white;
  border-color: black;
}

.btn-outline-success:active {
  background-color: black;
  color: black;
}

.btnComprarCard {
  border: none;
  color: white !important;
  background-color: #28a745;
  border-radius: 5px;
  /* padding: 5px 10px 5px 10px; */
}

.classComprarCard {
  color: white !important;
}

a {
  text-decoration: none;
}
