@import url(nav.css);
@import url(footer.css);

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .principal-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: auto;
        margin: 25px auto;
        gap: 25px;
    }

    .card{
        width: 33%;
        padding: 5px;
    }

    .card h5{
        font-size: 16px;
        margin-top: 8px;
    }

    .shopping_cart{
        display: inline-flex;
        justify-content: center;
        align-content: center;
        font-size: 20px;
        vertical-align: middle;
    }

    .btnComprarCard{
        margin-bottom: 14px;
        padding: 7px 15px 7px 15px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    /* conteudo principal */

    .divPrincipal{
        margin-top: 10%;
        background-color: white;
        color: rgb(0, 0, 0);
        border: 1px #000000 solid;
        border-radius: 10px;
        width: 70%;
        margin: auto;
    }

    .divPrincipal img{
        margin-top: 5%;
    }

    .carousel-item img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        margin-bottom: 32%;
        border: 2px solid black;
    }

    .carousel-dark .carousel-caption{
        color: rgb(0, 0, 0);
    }

    .carousel-caption h5{
        font-size: 1.1rem;
    }

    .h2Cards{
        text-align: center;
        margin-top: 20px;
    }

    .shopping_cart{
        display: inline-flex;
        justify-content: center;
        align-content: center;
        font-size: 20px;
        vertical-align: middle;
    }

    .btnComprarCard{
        margin-bottom: 14px;
        padding: 7px 15px 7px 15px;
    }

    .categorias{
        margin-top: 10%;
    }

    .divCategorias{
        margin-top: 10%;
        background-color: white;
        color: rgb(0, 0, 0);
        border: 1px #000000 solid;
        border-radius: 10px;
        width: 70%;
        margin: auto;
    }

    .categorias img{
        margin-top: 20px;
    }

    .bannerMensagem{
        display: flex;
        justify-content: center;
        align-items: baseline;
        border: 1px solid gray;
        color: #004b88;
        width: 70%;
        margin: 10% auto auto auto;
        text-align: center;
    }

    #bannerMensagemTexto{
        display: flex;
        text-align: center;
        gap: 10px;
        margin-top: 10px;
    }   

    #textoBanner01{
        font-weight: bold;
    }

    .americaSul{
        font-size: 30px;
        margin-top: 5px;
    }

    .vertudo{
        display: flex;
        justify-content: center;
        font-size: 17px;
        color: rgb(98, 98, 98);
        text-decoration: underline;
    }

    .social{
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-top: 10%;
    }

    .social img{
        width: 6%;
    }

    /* fim conteudo principal */

    

    

    .livros{
        border: 1px solid #cccccc;
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
        border-radius: 14px;
        padding: 20px;
        text-align: center;
        display:flex;
        justify-content:space-around;
        float: left;
        margin: auto;
    }
    .mangas{
       width: 120px ;
       margin: auto;
       color: #000000;
       text-justify: auto;


    }
    .livros a{
        color: #000000;
    }

    .livros a:hover {
        color: #004b88;
    }
    
    .dmslayer{
        background-color: #1A1A1A;
        display: flex;
    }
    .comprar{
        width: 150px;
        display: flex;
        margin-left: 7px;
        margin-top: 10px;
    }
    .produto{
        font-size: 20px;
        color: white;
        margin-top: 30px;
        margin-left: 30px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
        /* conteudo principal */
    
        .divPrincipal{
            background-color: white;
            color: rgb(0, 0, 0);
            border: 1px #000000 solid;
            border-radius: 10px;
            width: 70%;
            margin: 3% auto auto auto;
        }
    
        .divPrincipal img{
            margin-top: 5%;
        }
    
        .carousel-item img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
            margin-bottom: 32%;
            border: 2px solid black;
        }
    
        .carousel-dark .carousel-caption{
            color: rgb(0, 0, 0);
        }
    
        .carousel-caption h5{
            font-size: 1.1rem;
        }
    
        .h2Cards{
            text-align: center;
            margin-top: 20px;
        }
    
        .shopping_cart{
            display: inline-flex;
            justify-content: center;
            align-content: center;
            font-size: 20px;
            vertical-align: middle;
        }
    
        .btnComprarCard{
            margin-bottom: 14px;
            padding: 7px 15px 7px 15px;
        }
    
        .categorias{
            margin-top: 10%;
        }
    
        .divCategorias{
            margin-top: 10%;
            background-color: white;
            color: rgb(0, 0, 0);
            border: 1px #000000 solid;
            border-radius: 10px;
            width: 70%;
            margin: auto;
        }
    
        .categorias img{
            margin-top: 20px;
        }
    
        .bannerMensagem{
            display: flex;
            justify-content: center;
            align-items: baseline;
            border: 1px solid gray;
            color: #004b88;
            width: 70%;
            margin: 10% auto auto auto;
            text-align: center;
        }
    
        #bannerMensagemTexto{
            display: flex;
            text-align: center;
            gap: 10px;
            margin-top: 10px;
        }   
    
        #textoBanner01{
            font-weight: bold;
        }
    
        .americaSul{
            font-size: 30px;
            margin-top: 5px;
        }
    
        .vertudo{
            display: flex;
            justify-content: center;
            font-size: 17px;
            color: rgb(98, 98, 98);
            text-decoration: underline;
        }
    
        .social{
            display: flex;
            flex-direction: row;
            text-align: center;
            margin-top: 10%;
        }
    
        .social img{
            width: 6%;
        }
    
        /* fim conteudo principal */
    
        
    
        
    
        .livros{
            border: 1px solid #cccccc;
            box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
            border-radius: 14px;
            padding: 20px;
            text-align: center;
            display:flex;
            justify-content:space-around;
            float: left;
            margin: auto;
        }
        .mangas{
           width: 120px ;
           margin: auto;
           color: #000000;
           text-justify: auto;
    
    
        }
        .livros a{
            color: #000000;
        }
    
        .livros a:hover {
            color: #004b88;
        }
        
        .dmslayer{
            background-color: #1A1A1A;
            display: flex;
        }
        .comprar{
            width: 150px;
            display: flex;
            margin-left: 7px;
            margin-top: 10px;
        }
        .produto{
            font-size: 20px;
            color: white;
            margin-top: 30px;
            margin-left: 30px;
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    
        /* conteudo principal */

        
    
        .divPrincipal{
            background-color: white;
            color: rgb(0, 0, 0);
            border: 1px #000000 solid;
            border-radius: 10px;
            width: 60%;
            margin: 3% auto auto auto;
        }
    
        .divPrincipal img{
            margin-top: 5%;
        }
    
        .carousel-item img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
            margin-bottom: 30%;
            border: 2px solid black;
        }
    
        .carousel-dark .carousel-caption{
            color: rgb(0, 0, 0);
        }
    
        .carousel-caption h5{
            font-size: 1.1rem;
        }
    
        .h2Cards{
            text-align: center;
            margin-top: 20px;
        }
    
        .shopping_cart{
            display: inline-flex;
            justify-content: center;
            align-content: center;
            font-size: 20px;
            vertical-align: middle;
        }
    
        .btnComprarCard{
            margin-bottom: 14px;
            padding: 7px 15px 7px 15px;
        }
    
        .categorias{
            margin-top: 10%;
        }
    
        .divCategorias{
            margin-top: 10%;
            background-color: white;
            color: rgb(0, 0, 0);
            border: 1px #000000 solid;
            border-radius: 10px;
            width: 60%;
            margin: auto;
        }
    
        .categorias img{
            margin-top: 20px;
        }
    
        .bannerMensagem{
            display: flex;
            justify-content: center;
            align-items: baseline;
            border: 1px solid gray;
            color: #004b88;
            width: 60%;
            margin: 10% auto auto auto;
            text-align: center;
        }
    
        #bannerMensagemTexto{
            display: flex;
            text-align: center;
            gap: 10px;
            margin-top: 10px;
        }   
    
        #textoBanner01{
            font-weight: bold;
        }
    
        .americaSul{
            font-size: 30px;
            margin-top: 5px;
        }
    
        .vertudo{
            display: flex;
            justify-content: center;
            font-size: 17px;
            color: rgb(98, 98, 98);
            text-decoration: underline;
        }
    
        .social{
            display: flex;
            flex-direction: row;
            text-align: center;
            margin-top: 10%;
        }
    
        .social img{
            width: 4.5%;
        }
    
        /* fim conteudo principal */
    
        
    
        
    
        .livros{
            border: 1px solid #cccccc;
            box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
            border-radius: 14px;
            padding: 20px;
            text-align: center;
            display:flex;
            justify-content:space-around;
            float: left;
            margin: auto;
        }
        .mangas{
           width: 120px ;
           margin: auto;
           color: #000000;
           text-justify: auto;
    
    
        }
        .livros a{
            color: #000000;
        }
    
        .livros a:hover {
            color: #004b88;
        }
        
        .dmslayer{
            background-color: #1A1A1A;
            display: flex;
        }
        .comprar{
            width: 150px;
            display: flex;
            margin-left: 7px;
            margin-top: 10px;
        }
        .produto{
            font-size: 20px;
            color: white;
            margin-top: 30px;
            margin-left: 30px;
        }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
            /* conteudo principal */
        
            .divBannerDesconto{
                overflow: hidden;
            }

            #bannerdesconto{
                display: none;
            }

            #bannerdesconto02{
                display: block !important;
            }

            .divPrincipal{
                background-color: white;
                color: rgb(0, 0, 0);
                border: 1px #000000 solid;
                border-radius: 10px;
                width: 35%;
                margin: 3% auto auto auto;
            }

            .divPrincipal img{
                margin-top: 20px;
            }
        
            .carousel-item img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 20%;
                margin-bottom: 25%;
                border: 2px solid black;
            }
        
            .carousel-dark .carousel-caption{
                color: rgb(0, 0, 0);
            }
        
            .carousel-caption h5{
                font-size: 1.1rem;
            }
        
            .h2Cards{
                text-align: center;
                margin-top: 20px;
            }
        
            .shopping_cart{
                display: inline-flex;
                justify-content: center;
                align-content: center;
                font-size: 20px;
                vertical-align: middle;
            }
        
            .btnComprarCard{
                margin-bottom: 14px;
                padding: 7px 15px 7px 15px;
            }
        
            .categorias{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 5%;
                gap: 100px;
            }
        
            .divCategorias{
                background-color: white;
                color: rgb(0, 0, 0);
                border: 1px #000000 solid;
                border-radius: 10px;
                width: 35%;
                margin: auto;
            }
        
            .categorias img{
                margin-top: 20px;
            }
        
            .bannerMensagem{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid gray;
                color: #004b88;
                width: 35%;
                margin: 5% auto auto auto;
                text-align: center;
            }

            #bannerMensagemTexto{
                display: flex;
                text-align: center;
                gap: 10px;
                margin-top: 10px;
            }   

            #textoBanner01{
                font-weight: bold;
            }
        
            .americaSul{
                font-size: 30px;
                margin-top: 5px;
            }
        
            .vertudo{
                display: flex;
                justify-content: center;
                font-size: 17px;
                color: rgb(98, 98, 98);
                text-decoration: underline;
            }
        
            .social{
                display: flex;
                flex-direction: row;
                text-align: center;
                margin: 5% auto auto auto;
            }
        
            .social img{
                width: 3%;
            }
        
            /* fim conteudo principal */ 
        
            .livros{
                border: 1px solid #cccccc;
                box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
                border-radius: 14px;
                padding: 20px;
                text-align: center;
                display:flex;
                justify-content:space-around;
                float: left;
                margin: auto;
            }
            .mangas{
               width: 120px ;
               margin: auto;
               color: #000000;
               text-justify: auto;
        
        
            }
            .livros a{
                color: #000000;
            }
        
            .livros a:hover {
                color: #004b88;
            }
            
            .dmslayer{
                background-color: #1A1A1A;
                display: flex;
            }
            .comprar{
                width: 150px;
                display: flex;
                margin-left: 7px;
                margin-top: 10px;
            }
            .produto{
                font-size: 20px;
                color: white;
                margin-top: 30px;
                margin-left: 30px;
            }
}



@font-face {
    font-family: Tan-Pearl;
    src: url(Fontes/tan-pearl.otf);
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1;
}

.navbar{
    background-color: rgb(17, 17, 17) !important;
}

.navbar-brand{
    font-family: Tan-Pearl;
    letter-spacing: 1px;
}

.btn-outline-success{
    color: white;
    border-color: white;
    --bs-btn-active-bg: white;
    --bs-btn-color: white;
    --bs-btn-border-color: black;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: black;
    --bs-btn-active-border-color: black;
    --bs-btn-active-color: black;

}

.btn-outline-success:hover{
    color: black;
    background-color: white;
    border-color: black;
}

.btn-outline-success:active{
    background-color: black;
    color: black;
}

.btnComprarCard{
    border: none;
    color: white !important;
    background-color: #28a745;
    border-radius: 5px;
    /* padding: 5px 10px 5px 10px; */
}

.classComprarCard{
    color: white !important;
}

a{
    text-decoration: none;
}