/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar-nav{
        font-size: 18px;
    }

    .navbar-brand{
        font-size: 24px;
    }

    .divPrincipal{
        margin-top: 10%;
        background-color: #f4f4f4;
        color: rgb(0, 0, 0);
        border: 1px #000000 solid;
        margin: 10px;
        padding: 10px;
    }

    .carousel-item img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        margin-bottom: 50%;
        border: 2px solid black;
    }

    .carousel-dark .carousel-caption{
        color: rgb(0, 0, 0);
    }

    .h2Cards{
        text-align: center;
        margin-top: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

    
.navbar{
    background-color: rgb(17, 17, 17) !important;
}

.btn-outline-success{
    color: white;
    border-color: white;
    --bs-btn-active-bg: white;
    --bs-btn-color: white;
    --bs-btn-border-color: black;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: black;
    --bs-btn-active-border-color: black;
    --bs-btn-active-color: black;

}

.btn-outline-success:hover{
    color: black;
    background-color: white;
    border-color: black;
}

.btn-outline-success:active{
    background-color: black;
    color: black;
}

.btnComprarCard{
    border: 1px solid black;
    color: white !important;
    background-color: black;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.classComprarCard{
    color: white !important;
}

a{
    text-decoration: none;
}